*
  box-sizing: border-box

.linkable
  color: var(--accent)
  &:active
    opacity: 0.5

.PanelHeader
  &__container
    display: flex
    align-items: center
  &__content
    display: flex
    align-items: flex-end
  &-left-in
    button
      display: flex
      margin-right: 8px